@use "reset";
@use "variables";
@use "base";

body {
  text-align: center;
}

header h1 {
  margin: 1rem;
}

main {
  max-width: 60ch;
  li + li {
    margin-top: 0.5rem;
  }

  .posts {
    text-align: left;
    .post {
      &-date {
        font-size: 12px;
        color: variables.$color-text;
      }

      &-title {
        font-size: 24px;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: variables.$breakpoint-md) {
  main {
    max-width: 30ch;
    margin: 1rem;
  }
}
