@use "reset";
@use "variables";
@use "base";

body {
  text-align: center;
}

header {
  h1 {
    margin: 1rem;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    gap: 1rem;

    a {
      color: variables.$color-primary;
      text-decoration: none;
    }
  }
}

main {
  max-width: 80ch;
  .profile {
    width: 60%;
    img {
      border-radius: 4px;
    }
    figcaption {
      margin: 0.4rem;
      color: variables.$color-text;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: variables.$breakpoint-md) {
  main {
    max-width: 30ch;
  }
  .hero {
    flex-direction: column;
  }
}
